<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wpy.blog.dao.BlogTypeDao">
	<resultMap type="BlogType" id="BlogTypeResult">
		<result property="id" column="id"/>
		<result property="blogTypeName" column="blogTypeName"/>
		
	</resultMap>
	
	<select id="selectAll" parameterType="Map" resultMap="BlogTypeResult">
		select * from tb_blogtype 
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	<select id="getTotalCount"  resultType="Integer">
		select count(id) from tb_blogtype
	</select>
	<delete id="deleteByPrimarKey" parameterType="Integer">
		delete from tb_blogtype where id=#{id}
	</delete>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="BlogType">
		insert into tb_blogtype values(null,#{blogTypeName})
	</insert>
	
	<update id="updateByPrimaryKey" parameterType="BlogType" >
		update tb_blogtype set blogTypeName=#{blogTypeName}  where id=#{id}
	</update>
</mapper>