<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wpy.blog.dao.BloggerDao">

	<resultMap type="Blogger" id="BloggerResult">
		<result property="id" column="id"/>
		<result property="userName" column="userName"/>
		<result property="password" column="password"/>
	</resultMap>
	
	<select id="find"  resultMap="BloggerResult">
		select * from tb_blogger where id=1;
	</select>

	<select id="selectByPrimaryKey" parameterType="Integer" resultMap="BloggerResult">
		select * from tb_blog where id=#{id}
	</select>
	
	<select id="getByUserName" parameterType="String" resultMap="BloggerResult">
		select * from tb_blogger where userName=#{userName}
	</select>
	
	<update id="update" parameterType="Blogger">
		update tb_blogger
		<set>
			<if test="password!=null and password!='' ">
				password=#{password},
			</if>
			<if test="aboutMe!=null and aboutMe!='' ">
				aboutMe=#{aboutMe},
			</if>
		</set>
		where id=1
	</update>
	
</mapper> 