<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wpy.blog.dao.LinkDao">
	<resultMap type="Link" id="LinkResult">
		<result property="id" column="id"/>
		<result property="linkName" column="linkName"/>
		<result property="linkUrl" column="linkUrl"/>
		<result property="ordNo" column="ordNo"/>
	</resultMap>
	<select id="selectByPrimaryKey" parameterType="Integer" resultMap="BlogResult">
		select * from tb_blog where id=#{id}
	</select>
	<select id="getTotalCount"  resultType="Integer">
		select count(id) from tb_blog 
	</select>
	
	<delete id="deleteByPrimarKey" parameterType="Integer">
		delete from tb_blog where id=#{id}
	</delete>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="Blog">
		insert into tb_blog values(null,#{blogTitle},#{blogContent},now(),null,#{blogTypeId},#{summary},0,0,0,'',0)
	</insert>
	
	<update id="updateByPrimaryKey" parameterType="Blog" >
		update tb_blog set blog_title=#{blogTitle},blog_content=#{blogContent},create_time=#{createTime},update_time=#{updateTime},blogtype_id=#{blogTypeId},summary=#{summary},clickHit=#{clickHit},recommendFlag=#{recommendFlag},recommendNo=#{recommendNo},bannerName=#{bannerName},bannerFlag=#{bannerFlag}  where id=#{id}
	</update>

</mapper>